## Тема “Вычисления с помощью Numpy”

In [1]:
import numpy as np

### Задание 1

In [2]:
a = np.array([[1, 6], [2, 8], [3, 11], [3, 10], [1, 7]])
a.shape

(5, 2)

In [3]:
mean_a = np.mean(a, axis=0)
mean_a

array([2. , 8.4])

### Задание 2

In [4]:
a_centered = a - mean_a
print(a_centered)

[[-1.  -2.4]
 [ 0.  -0.4]
 [ 1.   2.6]
 [ 1.   1.6]
 [-1.  -1.4]]

### Задание 3

In [5]:
a_centered_sp = np.dot(a_centered[:, 0], a_centered[:, 1])
N = a.shape[0]
result = a_centered_sp / (N - 1)
print(result)

2.0

### Задание 4

In [6]:
cov_matrix = np.cov(a.T)
print(cov_matrix)

[[1.  2. ]
 [2.  4.3]]

In [7]:
cov_value = cov_matrix[0, 1]
print(cov_value)

2.0

## Тема “Работа с данными в Pandas”

In [8]:
import pandas as pd

### Задание 1

In [9]:
authors = pd.DataFrame({"author_id": [1, 2, 3], "author_name": ["Тургенев", "Чехов", "Островский"]})

In [10]:
book = pd.DataFrame(
    {
        "author_id": [1, 1, 1, 2, 2, 3, 3],
        "book_title": ["Отцы и дети", "Рудин", "Дворянское гнездо", "Толстый и тонкий", "Дама с собачкой", "Гроза", "Таланты и поклонники"],
        "price": [500, 400, 300, 350, 450, 600, 200],
    }
)

In [11]:
book["price"]

0    500
1    400
2    300
3    350
4    450
5    600
6    200
Name: price, dtype: int64

### Задание 2

In [12]:
authors_price = pd.merge(authors, book, on="author_id")
authors_price.head()

   author_id author_name         book_title  price
0          1    Тургенев        Отцы и дети    500
1          1    Тургенев              Рудин    400
2          1    Тургенев  Дворянское гнездо    300
3          2       Чехов   Толстый и тонкий    350
4          2       Чехов    Дама с собачкой    450

### Задание 3

In [13]:
top5 = authors_price.nlargest(5, "price")
top5

   author_id author_name        book_title  price
5          3  Островский             Гроза    600
0          1    Тургенев       Отцы и дети    500
4          2       Чехов   Дама с собачкой    450
1          1    Тургенев             Рудин    400
3          2       Чехов  Толстый и тонкий    350

### Задание 4

In [14]:
authors_stat = authors_price.groupby("author_name").agg(min_price=("price", "min"), max_price=("price", "max"), mean_price=("price", "mean")).reset_index()
authors_stat

  author_name  min_price  max_price  mean_price
0  Островский        200        600       400.0
1    Тургенев        300        500       400.0
2       Чехов        350        450       400.0

### Задание 5

In [15]:
authors_price["book_cover"] = ["твердая", "мягкая", "мягкая", "твердая", "твердая", "мягкая", "мягкая"]

In [16]:
pd.pivot_table?

Signature:
pd.pivot_table(
    data: 'DataFrame',
    values=None,
    index=None,
    columns=None,
    aggfunc: 'AggFuncType' = 'mean',
    fill_value=None,
    margins: 'bool' = False,
    dropna: 'bool' = True,
    margins_name: 'Hashable' = 'All',
    observed: 'bool | lib.NoDefault' = <no_default>,
    sort: 'bool' = True,
) -> 'DataFrame'
Docstring:
Create a spreadsheet-style pivot table as a DataFrame.

The levels in the pivot table will be stored in MultiIndex objects
(hierarchical indexes) on the index and columns of the result DataFrame.

Parameters
----------
data : DataFrame
values : list-like or scalar, optional
    Column or columns to aggregate.
index : column, Grouper, array, or list of the previous
    Keys to group by on the pivot table index. If a list is passed,
    it can contain any of the other types (except list). If an array is
    passed, it must be the same length as the data and will be used in
    the same manner as column values.
columns : column, Grouper, array, or list of the previous
    Keys to group by on the pivot table column. If a list is passed,
    it can contain any of the other types (except list). If an array is
    passed, it must be the same length as the data and will be used in
    the same manner as column values.
aggfunc : function, list of functions, dict, default "mean"
    If a list of functions is passed, the resulting pivot table will have
    hierarchical columns whose top level are the function names
    (inferred from the function objects themselves).
    If a dict is passed, the key is column to aggregate and the value is
    function or list of functions. If ``margin=True``, aggfunc will be
    used to calculate the partial aggregates.
fill_value : scalar, default None
    Value to replace missing values with (in the resulting pivot table,
    after aggregation).
margins : bool, default False
    If ``margins=True``, special ``All`` columns and rows
    will be added with partial group aggregates across the categories
    on the rows and columns.
dropna : bool, default True
    Do not include columns whose entries are all NaN. If True,
    rows with a NaN value in any column will be omitted before
    computing margins.
margins_name : str, default 'All'
    Name of the row / column that will contain the totals
    when margins is True.
observed : bool, default False
    This only applies if any of the groupers are Categoricals.
    If True: only show observed values for categorical groupers.
    If False: show all values for categorical groupers.

    .. deprecated:: 2.2.0

        The default value of ``False`` is deprecated and will change to
        ``True`` in a future version of pandas.

sort : bool, default True
    Specifies if the result should be sorted.

    .. versionadded:: 1.3.0

Returns
-------
DataFrame
    An Excel style pivot table.

See Also
--------
DataFrame.pivot : Pivot without aggregation that can handle
    non-numeric data.
DataFrame.melt: Unpivot a DataFrame from wide to long format,
    optionally leaving identifiers set.
wide_to_long : Wide panel to long format. Less flexible but more
    user-friendly than melt.

Notes
-----
Reference :ref:`the user guide <reshaping.pivot>` for more examples.

Examples
--------
>>> df = pd.DataFrame({"A": ["foo", "foo", "foo", "foo", "foo",
...                          "bar", "bar", "bar", "bar"],
...                    "B": ["one", "one", "one", "two", "two",
...                          "one", "one", "two", "two"],
...                    "C": ["small", "large", "large", "small",
...                          "small", "large", "small", "small",
...                          "large"],
...                    "D": [1, 2, 2, 3, 3, 4, 5, 6, 7],
...                    "E": [2, 4, 5, 5, 6, 6, 8, 9, 9]})
>>> df
     A    B      C  D  E
0  foo  one  small  1  2
1  foo  one  large  2  4
2  foo  one  large  2  5
3  foo  two  small  3  5
4  foo  two  small  3  6
5  bar  one  large  4  6
6  bar  one  small  5  8
7  bar  two  small  6  9
8  bar  two  large  7  9

This first example aggregates values by taking the sum.

>>> table = pd.pivot_table(df, values='D', index=['A', 'B'],
...                        columns=['C'], aggfunc="sum")
>>> table
C        large  small
A   B
bar one    4.0    5.0
    two    7.0    6.0
foo one    4.0    1.0
    two    NaN    6.0

We can also fill missing values using the `fill_value` parameter.

>>> table = pd.pivot_table(df, values='D', index=['A', 'B'],
...                        columns=['C'], aggfunc="sum", fill_value=0)
>>> table
C        large  small
A   B
bar one      4      5
    two      7      6
foo one      4      1
    two      0      6

The next example aggregates by taking the mean across multiple columns.

>>> table = pd.pivot_table(df, values=['D', 'E'], index=['A', 'C'],
...                        aggfunc={'D': "mean", 'E': "mean"})
>>> table
                D         E
A   C
bar large  5.500000  7.500000
    small  5.500000  8.500000
foo large  2.000000  4.500000
    small  2.333333  4.333333

We can also calculate multiple types of aggregations for any given
value column.

>>> table = pd.pivot_table(df, values=['D', 'E'], index=['A', 'C'],
...                        aggfunc={'D': "mean",
...                                 'E': ["min", "max", "mean"]})
>>> table
                  D   E
               mean max      mean  min
A   C
bar large  5.500000   9  7.500000    6
    small  5.500000   9  8.500000    8
foo large  2.000000   5  4.500000    4
    small  2.333333   6  4.333333    2
File:      d:\gittest\ds libraries\dspylib\.venv\lib\site-packages\pandas\core\reshape\pivot.py
Type:      function

In [17]:
book_info = pd.pivot_table(authors_price, values="price", index="author_name", columns="book_cover", aggfunc="sum", fill_value=0)
book_info

book_cover   мягкая  твердая
author_name
Островский      800        0
Тургенев        700      500
Чехов             0      800

In [18]:
book_info.to_pickle("book_info.pkl")

In [20]:
book_info2 = pd.read_pickle("book_info.pkl")
book_info2

book_cover   мягкая  твердая
author_name
Островский      800        0
Тургенев        700      500
Чехов             0      800

In [21]:
print(book_info.equals(book_info2))

True